body{
    margin:10vh 10vw 10vh 10vw;
    display: flex;
    justify-content: center;
}
h1, h5{
    display: flex;
    justify-content: center;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    justify-content: center;
    text-align: center;
}