body{
    margin:20px auto 20px auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #C5F5B3;
}

#mySketch{
    margin-top: 10%;
    border: 1px solid black;
    padding:0;
    max-height: 600px;
    overflow: hidden;
}