body{
    margin:10vh 10vw 10vh 10vw;
}

#eleven{
    padding-left:20vw;
    
}

#twelve{
    padding-left:30vw;
    padding-bottom:20vh;
    
}

#fourteen{
    padding-top:30vh;
    padding-left:50vw;
}