body{
    margin:20px auto 20px auto;
    display: flex;
    justify-content: center;
}

div{
    padding-top: 20%;
}

.content{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
tr {
    border: 1px solid black;
    text-align: center;
}
