body {
  overflow: hidden;
}

#title{
    position:fixed;
    margin:0;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    color:white;
    z-index: 1000;
}

h1{
    margin:0;
    top:4rem;
    left:6rem;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
}

h3{
    position:fixed;
    margin:0;
    font-family: "DINish Expanded", sans-serif;
    font-weight: 300;
    font-style: normal;
    bottom:1rem;
    right:2rem;
    font-size: 2rem;
}

#cordview{
    position:fixed;
    top: 5px;
    right: 5px;
    color:white;
    z-index:1000;
}

#viewport-container {
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

/* after means it sits ontop of the viewport container */
#viewport::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 8rem rgba(255, 255, 255, 0.4);
    z-index: 10;
    pointer-events: none;  /* so it doesn't block scrolling/clicks */
    animation: pulse 40s ease-in-out infinite;
}
 
/* so that vignette slightly pulses */
@keyframes pulse {
    0%, 100% {
        box-shadow: inset 0px 0px 0rem rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: inset 0px 0px 6rem rgba(255, 255, 255, 0.4);
    }
}

#world{
    width: 600%;
    height: 600%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}

/* hides scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no empty space is left behind */
  height: 0;
}