body {
  overflow: hidden;
}

#title{
    position:fixed;
    margin:0;
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
    color:white;
    z-index: 1000;
}

h1{
    margin:0;
    top:1rem;
    left:2rem;
    font-size: 6rem;font-weight: 100;
    font-style: normal;
}

h3{
    position:fixed;
    margin:0;
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom:1rem;
    right:2rem;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}
#cordview{
    position:fixed;
    top: 5px;
    right: 5px;
    color:white;
    z-index:1000;
}

#viewport-container {
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

#world{
    width: 600%;
    height: 600%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}

/* hides scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no empty space is left behind */
  height: 0;
}