body {
  overflow: hidden;
}

#titlebox{
    position:fixed;
    margin:0;
    top:4rem;
    left:6rem;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: italic;
    color:white;
    z-index: 1000;
}

.escapebox{
    position:fixed;
    margin:0;
    top:10rem;
    left:10rem;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    z-index: 1000;
}

p{
    font-family: 'DINish', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    color: white;
    line-height: 1.5;
}

pre{
    font-family: 'DINishExpanded', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    color: white;
    line-height: 1.5;
}

hr{
    width:10rem;
    border: 0.5px solid white;
    margin-bottom: 2rem;
}

h1{
    margin:0;
    font-size: 4rem;
    font-weight: 300;
    cursor: default;
}

.charspan{
    /* transform works with inline-block but not inline (which is) */
    display: inline-block;
    filter:blur(0px);
    cursor: default;
    transition: transform 0.9s ease;
}

.charspan:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#infobox{
    position:fixed;
    margin:0;
    bottom:4rem;
    right:6rem;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: italic;
    color:white;
    z-index: 1000;
}

h3{
    margin:0;
    font-size: 1rem;
    font-weight: 300;
    cursor: default;
}

#clickinfo{
    position: fixed;
    margin:0;
    bottom:9rem;
    right:14rem;
}

.dodgespan{
    display: inline-block;
    transition: 0.8s all cubic-bezier(0.8, 0, 0.1, 1);
    white-space: pre;
    z-index:1000;
}

.dodgespan:hover{
    transform: translateX(3rem);
    transition: 0.8s all cubic-bezier(0.8, 0, 0.1, 1);
    cursor: default;
}

h3{
    filter:blur(0px);
}

h3:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#cordview{
    position:fixed;
    top: 5px;
    right: 5px;
    color:white;
    z-index:1000;
}

#viewport-container {
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

/* after means it sits ontop of the viewport container */
#viewport::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 8rem rgba(255, 255, 255, 0.4);
    z-index: 10;
    pointer-events: none;  /* so it doesn't block scrolling/clicks */
    animation: pulse 40s ease-in-out infinite;
}

#world{
    width: 600%;
    height: 600%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}

#scramble1{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6rem;
    color:white;
    top:2080px;
    left:4250px;
}

#scramble2{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6rem;
    color:white;
    top:2620px;
    left:5020px;
}

#notsure{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color:white;
    top:1600px;
    left:3400px;
    z-index: 1000;
}

#better{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color:white;
    top:2845px;
    left:6650px;
    z-index: 1000;
}

#else{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color:white;
    top:3091px;
    left:3386px;
    z-index: 1200;
}

#skyfig1{
    position: relative;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
    color:white;
    top:3480px;
    left:4500px;
    z-index: 1200;
    display: flex;
    text-align: center;
    padding:8rem 2rem 2rem 2rem;
    border: 1px solid white;
    flex-direction: column;
    vertical-align: bottom;
    width:15rem;
    height:6rem;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
}

#skyfig1:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfigattach{
    visibility: hidden;
    border: 1px solid white;
    position: relative;
    top:3600px;
    left:4800px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
    color:white;
    width: 20rem;
    height:17rem;
    padding:1.4rem 2rem 1rem 3rem;
    text-align: left;
}

#skyfigattach:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfigattach1{
    visibility: hidden;
    position: relative;
    top:3700px;
    left:4450px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 23rem;
    text-align: center;
}

#skyfigattach1:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfigattach2{
    visibility: hidden;
    position: relative;
    top:3780px;
    left:4850px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 23rem;
    text-align: center;
}

#skyfigattach2:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfig2{
    position: relative;
    top:3500px;
    left:6200px;
    z-index: 1200;
    display: flex;
    text-align: center;
    padding:8rem 2rem 2rem 2rem;
    border: 1px solid white;
    flex-direction: column;
    vertical-align: bottom;
    width:18rem;
    height:6rem;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    font-family: 'DINish', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
    color:white;
}

#skyfig2:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
    font-style: italic;
}

#skyfig2attach{
    visibility: hidden;
    border: 1px solid white;
    position: relative;
    top:3600px;
    left:6700px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 20rem;
    height:17rem;
    padding:1.4rem 2rem 1rem 3rem;
    text-align: left;
}

#skyfig2attach:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfig2attach1{
    visibility: hidden;
    position: relative;
    top:3800px;
    left:6400px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 23rem;
    padding:0rem 1rem;
    text-align: center;
}

#skyfig2attach1:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#skyfig2attach2{
    visibility: hidden;
    position: relative;
    top:3940px;
    left:6800px;
    z-index: 1200;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 24rem;
    padding:0rem 1rem;
    text-align: center;
}

#skyfig2attach2:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#particle{
    position: relative;
    top:0px;
    left:5300px;
    z-index: 1200;
    display: flex;
    text-align: center;
    padding:2rem 2rem 4rem 2rem;
    border: 1px solid white;
    flex-direction: column;
    vertical-align: bottom;
    width:18rem;
    height:18rem;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
}

#particle:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

#reiteration{
    visibility: hidden;
    position: relative;
    top:100px;
    left:5540px;
    z-index: 1240;
    cursor:default;
    filter:blur(0px);
    transition: transform 0.9s ease;
    width: 24rem;
    padding:0rem 1rem;
    text-align: center;
}

#reiteration:hover{
    filter:blur(6px);
    transition: 0.8s all cubic-bezier(0.25, 0, 0.1, 1);
    cursor: default;
}

/* hides scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0; /* Ensures no empty space is left behind */
  height: 0;
}

 /* keyframe section! */
/* so that vignette slightly pulses */
@keyframes pulse {
    0%, 100% {
        box-shadow: inset 0px 0px 0rem rgba(255, 255, 255, 0.4);
    }
    50% {
        box-shadow: inset 0px 0px 3rem rgba(255, 255, 255, 0.4);
    }
}
