@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DINish';
    src: url('DINish/DINish-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DINish Expanded';
    src: url('DINishExpanded/DINishExpanded-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}