body{
    margin:10px auto 0px auto;
    display: flex;
    justify-content: end;
    background-color: rgb(234, 234, 234);
}

.poster{
    height:900px;
    width:600px;
    border:0.4px solid black;
    margin-right: 16rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#softCanvas{
    padding:0;
    overflow: hidden;
    height: 900px;
    width: 600px;
}

.control{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    border:1px solid black;
    width:22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
}

.intro{
    display:flex;
    flex-direction: column;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
    margin-bottom:0rem;
}

.sliders{
    margin-top: 0.5rem;
    display:flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    width:70%;
}

.buttons{
    padding-top: 0rem;
    margin-top: -1rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.instructions{
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}
h2{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-decoration: underline;
    -webkit-text-stroke: 1.3px #006affff;
    color: rgb(234, 234, 234);
}

h3{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-decoration: underline;
    color: #006affff;
}

p{
    font-family: "Arial", sans-serif;
    line-height: 1.5;
}

.sliders .p{
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}