body{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    width: 100%;
    max-width: 100vw;
}

.poster{
    height:900px;
    width:600px;
    border:0.4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#softCanvas{
    padding:0;
    overflow: hidden;
    height: 900px;
    width: 600px;
}

.controlR{
    position:absolute;
    height:100vh;
    top:0rem;
    border:1px solid black;
    width:22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    left:0rem;
}

.controlL{
    position:absolute;
    bottom:0rem;
    height:100vh;
    border:1px solid black;
    width:22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    right:0rem;
}


.container{
    margin-top: 0.5rem;
    display:flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    width:70%;
}

.instructions{
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}
h2{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-decoration: underline;
    -webkit-text-stroke: 1.3px #006affff;
    color: rgb(234, 234, 234);
}

h3{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-decoration: underline;
    color: #006affff;
}

p{
    font-family: "Arial", sans-serif;
    line-height: 1.5;
}

.sliders .p{
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}